<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
</head>



<nav class="navbar navbar-inverse navbar-static-top navbar-expand-sm">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" id="homeButton" routerLink="/"><i class="fas fa-home"></i></a>
        <ul class="nav navbar-nav navbar-left">
            <a routerLink="/about" id="aboutButton">About Us</a>
        <a routerLink="/our-mission" id="missionUpButton">Our Mission</a>
        </ul>
        
                
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
        
  
        <ul class="nav navbar-nav navbar-right">

            <a routerLink="/sign-up" id="signUpButton"><i class="fas fa-share-square"></i> Sign Up</a>
            <a routerLink="/login" id="loginButton"><i class="fas fa-sign-in-alt"></i> Login</a>
    
        </ul>
        <!-- <i class="fas fa-sign-out-alt"></i> -->
  
    </div>
  </nav>



<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1>About Us</h1><br><br>
              <p>“I declare after all there is no enjoyment like reading!”- Jane Austen, Pride and Prejudice.<br><br>

                Dear readers,<br>
                
                We offer huge collection of books in diverse category of Fiction, Non-fiction, Biographies, History, Religions, Self -Help, Children. We also sell in vast collection of Investments and Management, Computers, Engineering, Medical, College and School text references books proposed by different institutes as syllabus across the country. Besides to this, we also offer a large collection of E-Books at very fair pricing.
                
                We attempt to extend the customer satisfaction by catering easy user-friendly search engine, quick and user-friendly payment options and quicker delivery systems. Upside to all of this, we are disposed to provide exciting offers and pleasant discounts on our books.
                
                As well, we humbly invite all the sellers around the country to partner with us. We will surely provide you the platform for many sparkling domains and grow the “BookStore” family.We would like to thank you for shopping with us. You can write us for any new thoughts at “email-id” helping us to improvise for the reader satisfaction.</p>
            </div>
          </div>
    </div>
</body>

<app-footer></app-footer>
