<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
</head>



<nav class="navbar navbar-inverse navbar-static-top navbar-expand-sm">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" id="homeButton" routerLink="/"><i class="fas fa-home"></i></a>
        <ul class="nav navbar-nav navbar-left">
            <a routerLink="/about" id="aboutButton">About Us</a>
        <a routerLink="/our-mission" id="missionUpButton">Our Mission</a>
        </ul>
        
                
    </div>
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
        
  
        <ul class="nav navbar-nav navbar-right">

            <a routerLink="/sign-up" id="signUpButton"><i class="fas fa-share-square"></i> Sign Up</a>
            <a routerLink="/login" id="loginButton"><i class="fas fa-sign-in-alt"></i> Login</a>
    
        </ul>
        <!-- <i class="fas fa-sign-out-alt"></i> -->
  
    </div>
  </nav>  

  <body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1>Our mission</h1><br><br>
              <p>The BookStore is a locally owned independent bookshop committed to offering a quality selection of affordable new, bargain, gently read, and electronic books, as well as gifts and educational items for customers of all ages and backgrounds.<br>
                We are passionate about the written word and seek to share our love of reading to help create and sustain a community of lifelong readers.<br>
                We strive to provide a hospitable and nurturing environment to encourage the healthy exchange of ideas by hosting numerous readings, book groups, panel presentations, and on-line discussions.<br>
                We are committed to engaging with the many diverse peoples and organizations of our community, particularly in India, but also on a national and international scale, to work towards the goals of a knowledgeable public and a peaceful and environmentally sustainable planet.
                </p>

              </div>
          </div>
    </div>
</body>

<app-footer></app-footer>