<!-- <form [formGroup]="categoryService.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="categoryId">
                 <mat-form-field>
                    <input formControlName="categoryId" matInput placeholder="Category Id">
                    <mat-error>This is required field !!!</mat-error>
                </mat-form-field> 
                 <mat-form-field>
                    <input formControlName="categoryName" matInput placeholder="Category Name">
                    <mat-error>This is required field !!!</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="categoryService.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>    
    </mat-grid-list>
</form>  -->



<!-- <form [formGroup]="categoryService.form" class="normal-form" (ngSubmit)="saveproduct()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="categoryId">
                 <mat-form-field>
                    <input formControlName="categoryId" matInput placeholder="Category Id">
                    <mat-error>This is required field !!!</mat-error>
                </mat-form-field> -->
                 <!-- <mat-form-field>
                    <input formControlName="categoryName" matInput placeholder="Category Name" [(ngModel)]="category.categoryName" id="categoryName" name="categoryName">
                    <mat-error>This is required field !!!</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="categoryService.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>    
    </mat-grid-list>
</form>  --> 


