<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
</head>
<nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/customer">Customer</a> |
    <a routerLink="/book">Book</a> |
    <a routerLink="/login">Login</a> |
    <a routerLink="/log-out">Logout</a> |
    <a routerLink="/admin-home">Admin Home</a> |


    <!-- <a routerLink="/book">Book</a> |
    <a routerLink="/book">Book</a> |
    <a routerLink="/book">Book</a> |
    <a routerLink="/book">Book</a> |
    <a routerLink="/book">Book</a> |
    <a routerLink="/book">Book</a> | -->
</nav>

<!-- <app-category-list></app-category-list> -->
<!-- <app-book></app-book> -->
<router-outlet></router-outlet>
<!-- <app-customer></app-customer> -->
<!-- <app-book-list></app-book-list> -->
<!-- <app-order-details></app-order-details> -->
<!-- <app-review></app-review> -->
<!-- <app-contact-us></app-contact-us> -->
<!-- <app-admin-home></app-admin-home> -->

<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login> -->





<!-- <div class="container">
    <h2>Card Deck</h2>
    <p>The .card-deck class creates an <strong>equal height and width</strong> grid of cards. The layout will automatically adjust as you insert more cards.</p>
    <p>In this example we have added extra content to the first card, to make it taller. Notice how the other cards follow.</p>
    <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p>
    <div class="card-deck">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the first card</p>
          <p class="card-text">Some more text to increase the height</p>
          <p class="card-text">Some more text to increase the height</p>
          <p class="card-text">Some more text to increase the height</p>
        </div>
      </div>
      <div class="card bg-warning">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the second card</p>
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the third card</p>
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <p class="card-text">Some text inside the fourth card</p>
        </div>
      </div>  
    </div>
  </div> -->





  
            <!-- <button mat-button type="submit" id="SignButton">
                <mat-card class="example-card">
                    <mat-card-content>
                      <i class='fas fa-users fa-5x' id="user"></i><br/>       fa-5x -->
                      <!-- <p class="cu"><b>Customers</b></p>
                    </mat-card-content>
                </mat-card>
            </button> -->
       




          <!-- This is extra button design -->


<!-- <div class="container">
  
    <mat-card-actions>
        <button mat-button style="background-color:#e28d5c" type="submit" id="SignButton">
            
            <mat-card class="example-card" id="ca">
                <mat-card-content>
                  <i class='fas fa-users fa-4x' id="user"></i><br/>       fa-5x -->
                  <!-- <p class="cu"><b>Customers</b></p>
                </mat-card-content>
            </mat-card>
        </button>
    </mat-card-actions>
</div> --> 

        
            

<!-- <div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <!-- <mat-card-content> -->
            <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p> -->
          <!-- <i class='fas fa-users fa-5x' id="user"></i><br/>     fa-5x -->
          <!-- <p class="cu"><b>Customers</b></p>
        </mat-card-content>
        
        
    </mat-card> -->
<!-- </div> --> 







<!-- <div class="row">
  <div class="col-sm-2">
    Hello
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <mat-card-actions class="FirstColumn">
          <button mat-button style="background-color:#61e9ee" id="bt">
              
              <mat-card class="example-card-FirstColumn" id="ca">
                  <mat-card-content>
                    <i class='fas fa-book fa-4x' id="user"></i><br/> 
                    <p class="cu"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                  </mat-card-content>
              </mat-card>
          </button>
      </mat-card-actions>
      </div>

      <div class="col-lg-4">
        <mat-card-actions class="SecondColumn">
          <button mat-button style="background-color:#f58a4c" id="bt">
              
              <mat-card class="example-card-SecondColumn" id="ca">
                  <mat-card-content>
                    <i class='fas fa-edit fa-4x' id="user"></i><br/>      
                    <p class="cu"><b>&nbsp;&nbsp;&nbsp;Categories&nbsp;&nbsp;&nbsp;</b></p>
                  </mat-card-content>
              </mat-card>
          </button>
      </mat-card-actions>
      </div>

      <div class="col-lg-4">
        <mat-card-actions class="ThirdColumn">
          <button mat-button style="background-color:#90f063" id="bt">
              
              <mat-card class="example-card-ThirdColumn" id="ca">
                  <mat-card-content>
                    <i class='fas fa-laptop-code fa-4x' id="user"></i><br/>      
                    <p class="cu"><b>Order Details</b></p>
                  </mat-card-content>
              </mat-card>
          </button>
      </mat-card-actions>
      </div>

    </div>
    

    
  </div>
</div>
  


  <div class="row">
    <div class="col-sm-2">
      Hello
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <mat-card-actions class="FirstColumn">
            <button mat-button style="background-color:#61e9ee" id="bt">
                
                <mat-card class="example-card-FirstColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-users fa-4x' id="user"></i><br/>      
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;Customers&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button>
        </mat-card-actions>
        </div>
  
        <div class="col-lg-4">
          <mat-card-actions class="SecondColumn">
            <button mat-button style="background-color:#f58a4c" id="bt">
                
                <mat-card class="example-card-SecondColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-file-alt fa-4x' id="user"></i><br/>     
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reviews&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button>
        </mat-card-actions>
        </div>
  
        <div class="col-lg-4">
          <mat-card-actions class="ThirdColumn">
            <button mat-button style="background-color:#90f063" id="bt">
                
                <mat-card class="example-card-ThirdColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-comments fa-4x' id="user"></i><br/>     
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;Contact Us&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button>
        </mat-card-actions>
        </div>
  
      </div>
      
  
      
    </div>
  </div> -->




