<div class="Tablecontainer">
  <div class="search-div">
    <button mat-raised-button>                   
      <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter()" [(ngModel)]="searchKey" placeholder="Search here" #input>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- Customer Id Column -->
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.bookOrder.orderId}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="bookId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Book ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.book.bookId}}</mat-cell>
      </ng-container>
  
      <!-- Email column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Book Title</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.book.title}}</mat-cell>
      </ng-container>
  
      <!-- Mobile Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.bookOrder.customer.email}}</mat-cell>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.quantity}}</mat-cell>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="subtotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sub Total </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.subtotal}}</mat-cell>
      </ng-container>
  
      <!-- Action column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            
            
          <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, row)">
            <i class="fa fa-search"></i>Details</button>
        </mat-cell>
    </ng-container>
  
      
      <!-- Table header -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
  
  
      
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>







  



























  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Order Details</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" novalidate>
        <div class="cont">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Order ID</label>
                <div class="input-group">
                  <input id="orderId" class="form-control" readonly>
                </div>
              </div>
  
              <div class="form-group">
                <label>Book Title</label>
                <div class="input-group">
                  <input id="title" class="form-control" readonly>
                </div>
              </div>
  
              <div class="form-group">
                <label>E-mail</label>
                <div class="input-group">
                  <input id="email" class="form-control" readonly>
                </div>
              </div>
  
              <div class="form-group">
                <label>Payment Method</label>
                <div class="input-group">
                  <input id="paymentMethod" class="form-control" readonly>
                </div>
              </div>

              <div class="form-group">
                <label>Quantity</label>
                <div class="input-group">
                  <input id="quantity" class="form-control" readonly>
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Book ID</label>
                <div class="input-group">
                  <input id="bookId" class="form-control" readonly>
                </div>
              </div>
  
              <div class="form-group">
                <label>Author Name</label>
                <div class="input-group">
                  <input id="author" class="form-control" readonly>
                </div>
              </div>
  
              <div class="form-group">
                <label>Category Name</label>
                <div class="input-group">
                  <input id="categoryName" class="form-control" readonly>
                </div>
              </div>
  
              <div class="form-group">
                <label>Status</label>
                <div class="input-group">
                  <input id="status" class="form-control" readonly>
                </div>
              </div>

              <div class="form-group">
                <label>Total</label>
                <div class="input-group">
                  <input id="subtotal" class="form-control" readonly>
                </div>
              </div>
  
            </div>
          </div>
  
  
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>