<div class="row" id="topRow">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <mat-card-actions class="FirstColumn">
            <a routerLink="/book-list"><button mat-button style="background-color:#61e9ee" id="bt">
                
                <mat-card class="example-card-FirstColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-book fa-4x' id="user"></i><br/> 
                      <!-- <i class="fas fa-book-open"></i>     fa-5x -->

                        
                        
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button></a>
        </mat-card-actions>
        </div>
  
        <div class="col-lg-4">
          <mat-card-actions class="SecondColumn">
            <a routerLink="/category-list"><button mat-button style="background-color:#f58a4c" id="bt">
                
                <mat-card class="example-card-SecondColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-edit fa-4x' id="user"></i><br/>      <!-- fa-5x -->
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;Categories&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button></a>
        </mat-card-actions>
        </div>
  
        <div class="col-lg-4">
          <mat-card-actions class="ThirdColumn">
            <a routerLink="/order-details"><button mat-button style="background-color:#90f063" id="bt">
                
                <mat-card class="example-card-ThirdColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-laptop-code fa-4x' id="user"></i><br/>      <!-- fa-5x -->
                      <p class="cu"><b>Order Details</b></p>
                    </mat-card-content>
                </mat-card>
            </button></a>
        </mat-card-actions>
        </div>
      </div>
    </div>
  </div>








  <div class="row">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <mat-card-actions class="FirstColumn">
            <a routerLink="/customer"><button mat-button style="background-color:#61e9ee" id="bt">
                
                <mat-card class="example-card-FirstColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-users fa-4x' id="user"></i><br/>      <!-- fa-5x -->
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;Customers&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button></a>
        </mat-card-actions>
        </div>
  
        <div class="col-lg-4">
          <mat-card-actions class="SecondColumn">
            <a routerLink="/review"><button mat-button style="background-color:#f58a4c" id="bt">
                
                <mat-card class="example-card-SecondColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-file-alt fa-4x' id="user"></i><br/>      <!-- fa-5x -->
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reviews&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button></a>
          </mat-card-actions>
        </div>
  
        <div class="col-lg-4">
          <mat-card-actions class="ThirdColumn">
            <a routerLink="/contact-us"><button mat-button style="background-color:#90f063" id="bt">               
                <mat-card class="example-card-ThirdColumn" id="ca">
                    <mat-card-content>
                      <i class='fas fa-comments fa-4x' id="user"></i><br/>      <!-- fa-5x -->
                      <p class="cu"><b>&nbsp;&nbsp;&nbsp;Contact Us&nbsp;&nbsp;&nbsp;</b></p>
                    </mat-card-content>
                </mat-card>
            </button></a>
        </mat-card-actions>
        </div>

      </div>
    </div>
  </div>
